<section>
    <div class="container">
        <div class="breadcrumbs mt-5 mb-5">
            <ng-container>
                <ul>
                    <li>
                        <a href="">Home</a>
                        <span> >&nbsp;Contact</span>
                    </li>
                </ul>
            </ng-container>
        </div>
        <div class="contact-container">
            <div class="contact-details">
                <h3>Get in Touch</h3>
                <p><strong>Phone:</strong><a href="tel:+919762187004"></a></p>
                <p><strong>Email:</strong> hindavitravels&#64;gmail.com</p>
                <p><strong>Address:</strong>Shop no 2 susroad pashan, Pune – 41021</p>
            </div>
        </div>
    </div>
</section>