<header>
  <nav class="navbar navbar-expand-lg">
      <div class="container">
          <div class="row">
              <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xs-6">
                  <div class="logo-container">
                      <img src="../assets/img/logo.png" alt="Logo" class="logo" (click)="navigateToHome()">
                  </div>
              </div>
              <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xs-6 marginAuto">
                  <div class="menu-icon" id="menu-icon">
                      <span class="bar"></span>
                      <span class="bar"></span>
                      <span class="bar"></span>
                  </div>
                  <ul class="navbar-nav  mb-2 mb-lg-0 nav-links" id="nav-links">
                      <li class="nav-item"><a aria-current="page" class="nav-link" href="">Home</a></li>
                      <li class="nav-item"><a class="nav-link" (click)="navigateToAbout()">About</a></li>
                      <!-- <li class="nav-item"><a class="nav-link">Services</a></li>
                      <li class="nav-item"><a class="nav-link">Packages</a></li> -->
                      <li class="nav-item"><a class="nav-link" (click)="openCars()">Vehicles</a></li>
                      <li class="nav-item"><a class="nav-link" (click)="navigateToContact()">Contact</a></li>
                  </ul>
              </div>
          </div>
      </div>
  </nav>
</header>
<router-outlet></router-outlet>