.btn-div {
    width: 50%;
    margin: auto;
}

.logo-container {
    display: block;
    justify-content: center;
    /* Center the logo horizontally */
    align-items: center;
    cursor: pointer;
    /* Center the logo vertically */
}

.logo {
    width: 128px;
    /* Adjust width */
    height: auto;
    /* Maintain aspect ratio */
    max-width: 200px;
    /* Set a max size */
}

.navbar-nav {
    align-items: end;
    justify-content: end;
}

.nav-item {
    padding: 0px 20px;
}

.nav-link {
    font-weight: 700;
    cursor: pointer;
}

.navbar>.container,
.navbar>.container-fluid,
.navbar>.container-sm {

    display: block;
}

@media (max-width: 450px) {
    .bgimage {
        height: 198px;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.logo a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

/* Menu Icon for Burger */
.menu-icon {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 35px;
    height: 25px;
    cursor: pointer;
    float: inline-end;
    align-items: center;
    justify-items: center;
    margin: 29px 9px;
}

.bar {
    width: 100%;
    height: 4px;
    background-color: #e73e0a;
    border-radius: 5px;
}

/* Navigation links */
.nav-links {
    list-style: none;
    display: flex;
}


// .nav-links li a {
//     text-decoration: none;
//     color: white;
//     font-size: 1rem;
// }
.marginAuto {
    margin: auto;
}

/* Media Query for Small Screens (Mobile) */
@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        position: absolute;
        top: 119px;
        right: 0;
        background-color: #e73e0a;
        width: 100%;
        text-align: center;
        padding: 1rem;
    }

    .nav-links.active {
        display: block;
    }

    .menu-icon {
        display: flex;
    }

    .nav-links li {
        margin: 1rem 0;
    }

    .nav-links li a {
        text-decoration: none;
        color: white;
        font-size: 1rem;
    }

    #upcoming-cards .card .imgContainer {
        position: relative;
        width: 336px;
    }

    #upcoming-cards .card {
        max-width: 100%;
    }

    .btn-div {
        width: 100%;
        margin: auto;
    }
}