<section>
    <div class="bgimage"></div>
    <div id="cards_landscape_wrap-2">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" *ngFor="let car of cars">
                    <a href="tel:+919762187004">
                        <div class="card-flyer card-body">
                            <div class="text-box">
                                <div class="image-box">
                                    <img src={{car.img}} alt="" />
                                </div>
                                <div class="text-container">
                                    <h6>{{car.name}}</h6>
                                    <p class="below-title-text">{{car.seats}} Seater</p>
                                </div>
                                <div class="middle-text">
                                    <p>Click & Check Local & Outstation Charges</p>
                                </div>
                                <div>
                                    <button class="card-btn" href="tel:+919762187004">Inquiry / Book Car</button>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="mt-5 btn-div">
                    <a class="card-btn" (click)="openCars()">Find your best option ></a>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div>
                        <h2 class="upcoming-title">Upcoming Tours &amp; Destination</h2>
                    </div>
                </div>
            </div>
            <div class="row mt-5" id="upcoming-cards">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <a href="tel:+919762187004">
                        <div class="card d-flex position-relative flex-column">
                            <div class='imgContainer'>
                                <img src='../../assets/img/Shirdi.jpg'>
                            </div>
                            <div class="content">
                                <h4>Shirdi Darshan</h4>
                                <p></p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <a href="tel:+919762187004">
                        <div class="card d-flex position-relative flex-column">
                            <div class='imgContainer'>
                                <img src='../../assets/img/bhimashankar.webp'>
                            </div>
                            <div class="content">
                                <h4>Bhimashankar</h4>
                                <p></p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <a href="tel:+919762187004">
                        <div class="card d-flex position-relative flex-column">
                            <div class='imgContainer'>
                                <img src='../../assets/img/nashik.jpg'>
                            </div>
                            <div class="content">
                                <h4>Nashik</h4>
                                <p></p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <a href="tel:+919762187004">
                        <div class="card d-flex position-relative flex-column">
                            <div class='imgContainer'>
                                <img src='../../assets/img/konkan.jpg'>
                            </div>
                            <div class="content">
                                <h4>Konkan</h4>
                                <p></p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="mt-3">
                    <div class="elementor-widget-container">
                        <p>“Exciting adventures await! Check out our upcoming tours and destinations for your next
                            unforgettable journey.”</p>
                    </div>
                </div>
                <div class="mt-3 btn-div">
                    <a class="card-btn" (click)="openPleaces()">More Place</a>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    // Get references to the elements
    const menuIcon = document.getElementById('menu-icon');
    const navLinks = document.getElementById('nav-links');

    // Toggle the 'active' class when the menu icon is clicked
    menuIcon.addEventListener('click', () => {
        debugger
        navLinks.classList.toggle('active');
    });

</script>